<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
<title>mva15-project-probabilistic-graphical-models.bib</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="generator" content="bibtex2html">
</head>

<body>
<h1>mva15-project-probabilistic-graphical-models.bib</h1><a name="murphy02"></a><pre>
@unpublished{<a href="mva15-project-probabilistic-graphical-models.html#murphy02">murphy02</a>,
  title = {{Hidden Semi-Markov Models (HSMMs)}},
  author = {Murphy, Kevin P.},
  note = {{Unpublished notes}},
  year = {2002},
  crossref = {<a href="#murphy14">murphy14</a>},
  url = {<a href="http://www.cs.ubc.ca/~murphyk/mypapers.html">http://www.cs.ubc.ca/~murphyk/mypapers.html</a>},
  pdf = {<a href="http://www.cs.ubc.ca/~murphyk/Papers/segment.pdf">http://www.cs.ubc.ca/~murphyk/Papers/segment.pdf</a>},
  annote = {Papier théorique, aucune application, mais les algorithmes sont expliqués et prouvés (notamment, discussion complexité du Forward-Backward).}
}
</pre>

<a name="murphy14"></a><pre>
@unpublished{<a href="mva15-project-probabilistic-graphical-models.html#murphy14">murphy14</a>,
  title = {{Hidden Semi-Markov Models (HSMMs)}},
  author = {Murphy, Kevin P.},
  note = {Tutorial slides},
  year = {2014},
  urldoi = {<a href="http://www.cs.ubc.ca/~murphyk/mypapers.html">http://www.cs.ubc.ca/~murphyk/mypapers.html</a>},
  pdf = {<a href="http://colinlea.com/docs/JournalTalks/2014_HSMM.pdf">http://colinlea.com/docs/JournalTalks/2014_HSMM.pdf</a>},
  annote = {Slides incompréhensibles de son papier murphy02.}
}
</pre>

<a name="barbu2008"></a><pre>
@incollection{<a href="mva15-project-probabilistic-graphical-models.html#barbu2008">barbu2008</a>,
  title = {{Hidden Semi-Markov Model and Estimation}},
  author = {Barbu, Vlad and Limnios, Nikolaos},
  booktitle = {{Semi-Markov Chains and Hidden Semi-Markov Models toward Applications}},
  pages = {1--48},
  year = {2008},
  publisher = {Springer},
  annote = {A voir.}
}
</pre>

<a name="yu10"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#yu10">yu10</a>,
  title = {{Hidden semi-Markov Models}},
  author = {Yu, Shun-Zheng},
  journal = {Artificial Intelligence},
  volume = {174},
  number = {2},
  pages = {215--243},
  year = {2010},
  publisher = {Elsevier},
  urldoi = {https://dx.doi.org/10.1016/j.artint.2009.11.011},
  pdf = {<a href="http://sist.sysu.edu.cn/~syu/Publications/HSMMs_AIJ.pdf">http://sist.sysu.edu.cn/~syu/Publications/HSMMs_AIJ.pdf</a>},
  doi = {10.1016/j.artint.2009.11.011},
  urldoi = {https://dx.doi.org/10.1016/j.artint.2009.11.011},
  annote = {Eqs (13) and (14) give the alpha/beta recursion for HSMM (with logs).}
}
</pre>

<a name="mhsmm"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#mhsmm">mhsmm</a>,
  title = {{Hidden semi markov models for multiple observation sequences: The mhsmm package for R}},
  author = {O'Connell, Jared and H{\o}jsgaard, S{\o}ren and others},
  journal = {Journal of Statistical Software},
  volume = {39},
  number = {4},
  pages = {1--22},
  year = {2011},
  publisher = {American Statistical Association},
  pdf = {https://cran.r-project.org/web/packages/mhsmm/mhsmm.pdf},
  url = {https://cran.r-project.org/web/packages/mhsmm/},
  urldoi = {<a href="http://www.jstatsoft.org/htaccess.php?volume=39&amp;type=i&amp;issue=04">http://www.jstatsoft.org/htaccess.php?volume=39&type=i&issue=04</a>},
  annote = {p.8-9 give E-M steps for HSMM.}
}
</pre>

<a name="rabiner89"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#rabiner89">rabiner89</a>,
  title = {{A tutorial on Hidden Markov Models and selected applications in speech recognition}},
  author = {Rabiner, Lawrence R},
  journal = {Proceedings of the IEEE},
  volume = {77},
  number = {2},
  pages = {257--286},
  year = {1989},
  publisher = {IEEE},
  pdf = {<a href="http://www.robots.ox.ac.uk:5000/~vgg/rg/papers/hmm.pdf">http://www.robots.ox.ac.uk:5000/~vgg/rg/papers/hmm.pdf</a>},
  doi = {10.1109/5.18626},
  urldoi = {https://dx.doi.org/10.1109/5.18626},
  annote = {EM-steps for HSMM}
}
</pre>

<a name="guedon03"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#guedon03">guedon03</a>,
  title = {{Estimating Hidden Semi-markov chains from discrete sequences}},
  author = {Gu{\'e}don, Yann},
  journal = {Journal of Computational and Graphical Statistics},
  volume = {12},
  number = {3},
  pages = {604--639},
  year = {2003},
  publisher = {Taylor \& Francis},
  urldoi = {<a href="http://publications.cirad.fr/une_notice.php?dk=529866">http://publications.cirad.fr/une_notice.php?dk=529866</a>},
  doi = {10.1198/1061860032030},
  urldoi = {https://dx.doi.org/10.1198/1061860032030},
  pdf = {<a href="http://hal.cirad.fr/file/index/docid/826992/filename/JCGSguedon2003.pdf">http://hal.cirad.fr/file/index/docid/826992/filename/JCGSguedon2003.pdf</a>},
  annote = {cited in mhsmm, provides a version of the forward-backward algorithm for estimating the E-step of durations (eq. 8 in mhsmm)}
}
</pre>

<a name="cuvillier14"></a><pre>
@inproceedings{<a href="mva15-project-probabilistic-graphical-models.html#cuvillier14">cuvillier14</a>,
  title = {{Coherent time modeling of Semi-Markov Models with application to real-time audio-to-score alignment}},
  author = {Cuvillier, Philippe and Cont, Arshia},
  booktitle = {Machine Learning for Signal Processing (MLSP), 2014 IEEE International Workshop},
  pages = {1--6},
  year = {2014},
  organization = {IEEE},
  urldoi = {https://hal.inria.fr/hal-01058366},
  pdf = {https://hal.inria.fr/hal-01058366/document},
  annote = {Court papier, application des HSMM à l'alignement musique-partition (piano). TODO: read it more in details!}
}
</pre>

<a name="bach15"></a><pre>
@inproceedings{<a href="mva15-project-probabilistic-graphical-models.html#bach15">bach15</a>,
  title = {{An online EM algorithm in Hidden (Semi-)Markov Models for audio segmentation and clustering}},
  author = {Bietti, Alberto and Bach, Francis and Cont, Arshia},
  booktitle = {Acoustics, Speech and Signal Processing (ICASSP), 2015 IEEE International Conference},
  pages = {1881--1885},
  year = {2015},
  doi = {10.1109/ICASSP.2015.7178297},
  urldoi = {https://dx.doi.org/10.1109/ICASSP.2015.7178297},
  urldoi = {https://hal.inria.fr/hal-01115826},
  pdf = {https://hal.inria.fr/hal-01115826/document},
  annote = {Court papier, deux applications à la segmentation et classification audio. TODO: read it more in details!}
}
</pre>

<a name="nakamura15"></a><pre>
@inproceedings{<a href="mva15-project-probabilistic-graphical-models.html#nakamura15">nakamura15</a>,
  title = {{Autoregressive Hidden Semi-markov Model of symbolic music performance for score following}},
  author = {Nakamura, Eita and Cuvillier, Philippe and Cont, Arshia and Ono, Nobutaka and Sagayama, Shigeki},
  booktitle = {16th International Society for Music Information Retrieval Conference (ISMIR)},
  address = {Malaga, Spain},
  year = {2015},
  keywords = {Score Following; MIDI; Semi-Markov; Computer Music},
  urldoi = {https://hal.inria.fr/hal-01183820},
  pdf = {https://hal.inria.fr/hal-01183820/file/draft_SemiMarkovMIDIScofo_ISMIR2015_v17.pdf},
  annote = {TODO: read it more in details! Video https://www.youtube.com/watch?v=gasgH0A-m00.}
}
</pre>

<a name="hmmlearn"></a><pre>
@misc{<a href="mva15-project-probabilistic-graphical-models.html#hmmlearn">hmmlearn</a>,
  title = {{Unsupervised learning and inference of Hidden Markov Model in Python [hmmlearn] (GitHub repository)}},
  author = {Lebedev, Sergei and GitHub contributors},
  year = {2015},
  month = {October},
  editor = {{GitHub}},
  url = {https://github.com/hmmlearn/hmmlearn/},
  lastchecked = {28.12.2015},
  originalyear = {15.10.2015},
  note = {Online, accessed 28.12.2015},
  annote = {For more details, see its online documentation at \url{https://hmmlearn.readthedocs.org/en/latest/}.}
}
</pre>

<a name="pyhsmm"></a><pre>
@misc{<a href="mva15-project-probabilistic-graphical-models.html#pyhsmm">pyhsmm</a>,
  title = {{Bayesian inference in HSMMs and HMMs in Python [pyhsmm] (GitHub repository)}},
  author = {Johnson, Matthew J. and GitHub contributors},
  year = {2015},
  month = {December},
  editor = {{GitHub}},
  url = {https://github.com/mattjj/pyhsmm},
  lastchecked = {28.12.2015},
  originalyear = {26.12.2015},
  note = {Online, accessed 28.12.2015},
  annote = {{This is a Python library for approximate unsupervised inference in Bayesian Hidden Markov Models (HMMs) and explicit-duration Hidden semi-Markov Models (HSMMs), focusing on the Bayesian Non-Parametric extensions, the HDP-HMM and HDP-HSMM, mostly with weak-limit approximations.}}
}
</pre>

<a name="johnson13"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#johnson13">johnson13</a>,
  title = {{Bayesian non-parametric Hidden semi-Markov Models (HDP-HSMM)}},
  author = {Johnson, Matthew J. and Willsky, Alan S.},
  journal = {{Journal of Machine Learning Research}},
  pages = {673--701},
  volume = {14},
  month = {February},
  year = {2013},
  urldoi = {https://github.com/mattjj/pyhsmm},
  pdf = {<a href="http://www.jmlr.org/papers/volume14/johnson13a/johnson13a.pdf">http://www.jmlr.org/papers/volume14/johnson13a/johnson13a.pdf</a>},
  annote = {Excellent papier et code (pyhsmm). PhD Thesis at MIT by Matthew J. Johnson (2013).}
}
</pre>

<a name="cappe01"></a><pre>
@unpublished{<a href="mva15-project-probabilistic-graphical-models.html#cappe01">cappe01</a>,
  title = {{Ten years of HMMs}},
  author = {Capp{\'e}, Olivier},
  note = {{Unpublished notes on-line}},
  year = {2001},
  url = {<a href="http://perso.telecom-paristech.fr/~cappe/Research/Bibliographies/hmmbib/">http://perso.telecom-paristech.fr/~cappe/Research/Bibliographies/hmmbib/</a>},
  annote = {Une bibliographie de plus de 300 references concernant les HMMs (et les HSMMs).}
}
</pre>

<a name="cappe06"></a><pre>
@book{<a href="mva15-project-probabilistic-graphical-models.html#cappe06">cappe06</a>,
  title = {{Inference in Hidden Markov Models}},
  author = {Capp{\'e}, Olivier and Moulines, Eric and Ryd{\'e}n, Tobias},
  year = {2006},
  publisher = {Springer Science \& Business Media},
  annote = {Un gros livre. Utile pour alpha/beta (§3.2 p63) generalise au cas continu, et EM dans les HMM (§10.2 p361).}
}
</pre>

<a name="koller09"></a><pre>
@book{<a href="mva15-project-probabilistic-graphical-models.html#koller09">koller09</a>,
  title = {{Probabilistic Graphical Models}},
  author = {Koller, Daphne and Friedman, Nir},
  publisher = {MIT Press},
  year = {2009},
  series = {{Adaptive Computation And Machine Learning}},
  urldoi = {https://catalogue.ens-cachan.fr/cgi-bin/koha/opac-detail.pl?biblionumber=57541},
  annote = {Un autre gros livre. Bonne description de l'utilisation d'un HMM pour le speech recognition, Box 6.B p209. Bonne description d'un HMM (§6.2.3.1 p208). Propagation based inference (§11.3 p391).}
}
</pre>

<a name="baumpetrie"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#baumpetrie">baumpetrie</a>,
  title = {{Statistical inference for probabilistic functions of finite state Markov chains}},
  author = {Baum, Leonard E and Petrie, Ted},
  journal = {The Annals of Mathematical Statistics},
  pages = {1554--1563},
  year = {1966},
  publisher = {JSTOR},
  doi = {10.1214/aoms/1177699147},
  urldoi = {https://dx.doi.org/10.1214/aoms/1177699147},
  urldoi = {<a href="http://www.jstor.org/stable/2238772">http://www.jstor.org/stable/2238772</a>},
  pdf = {<a href="http://projecteuclid.org/download/pdf_1/euclid.aoms/1177699147">http://projecteuclid.org/download/pdf_1/euclid.aoms/1177699147</a>},
  annote = {Article fondateur}
}
</pre>

<a name="bishop06"></a><pre>
@book{<a href="mva15-project-probabilistic-graphical-models.html#bishop06">bishop06</a>,
  title = {{Pattern Recognition And Machine Learning}},
  author = {Bishop, Christopher M},
  year = {2006},
  publisher = {Springer},
  annote = {Explications tres claires, chapitre entier sur les HMM (§13.1 a §13.5).}
}
</pre>

<a name="jordan98learningpgm"></a><pre>
@book{<a href="mva15-project-probabilistic-graphical-models.html#jordan98learningpgm">jordan98learningpgm</a>,
  title = {{Learning in Graphical Models}},
  author = {Jordan, Michael I.},
  volume = {89},
  year = {1998},
  publisher = {Springer Science \& Business Media},
  note = {Proceedings of the NATO Advanced Study Institute (Ettore Mairona Center, Erice, Italy)},
  url = {<a href="http://cognet.mit.edu/book/learning-graphical-models">http://cognet.mit.edu/book/learning-graphical-models</a>},
  annote = {Livre (1/2) dont est tire le poly du cours PGM.}
}
</pre>

<a name="jordan98graphical"></a><pre>
@article{<a href="mva15-project-probabilistic-graphical-models.html#jordan98graphical">jordan98graphical</a>,
  title = {{Graphical Models}},
  author = {Jordan, Michael I.},
  journal = {Statistical Science},
  publisher = {JSTOR},
  number = {1},
  volume = {19},
  pages = {140-155},
  year = {2004},
  issn = {08834237},
  urldoi = {<a href="http://www.jstor.org/stable/4144379">http://www.jstor.org/stable/4144379</a>},
  annote = {Livre (2/2) dont est tire le poly du cours PGM.}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.98.</em></p>
</body>
</html>
